/* Navigation bar navbar --/-- Barra de navegación */
.navbar {
  background-color: rgb(255, 232, 0);
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
}